services:
  mongodb:
    image: mongo:8.2
    container_name: mongodb
    hostname: mongo
    restart: unless-stopped
    networks:
      - backend
    ports:
      - "27017:27017" # Only expose if needed externally
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: StrongPassword123! # Use a strong password in production
    volumes:
      - mongodb_data:/data/db
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mongodb_data:
    driver: local

networks:
  backend:
    driver: bridge
